.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

.card__description {
  display: flex;
  background-color: #fff;
  color: #000;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-icon.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button:hover {
  opacity: 0.5;
}
