.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
  border-radius: 10px 10px 0px 0px;
}

/* .card__image_preview {} */

.card__description {
  display: flex;
  background-color: #fff;
  color: #000;
  padding: 25px 20px;
  align-items: center;
  justify-content: space-between;
  border-radius: 0px 0px 10px 10px;
}

.card__title {
  max-width: 220px;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  margin: 0;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  width: 21px;
  height: 18px;
  border: none;
  cursor: pointer;
}

.card__like-button_active {
  background: transparent url(../images/like-active.svg) center no-repeat;
}

.card__like-button:hover {
  opacity: 0.5;
}

.card__delete-button {
  background: transparent url(../images/trash-icon.svg) center no-repeat;
  width: 18px;
  height: 19px;
  border: none;
  cursor: pointer;
  display: flex;
  position: relative;
  top: 35px;
  left: 250px;
}

.card__delete-button:hover {
  opacity: 0.6;
}
