.form__fieldset {
  border: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  row-gap: 30px;
  max-width: 358px;
  width: 100%;
}

.form__input {
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  box-sizing: border-box;
  border: none;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  width: 100%;
  padding-bottom: 13px;
}

.form__input::placeholder {
  font: inherit;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.2;
  color: rgba(0, 0, 0, 0.4);
}

.form__input:invalid {
  border-bottom: 1px solid #ff0000;
}

@media screen and (max-width: 630px) {
  .form__input {
    padding-bottom: 9px;
  }
}
