.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
  display: flex;
  margin: 0;
  padding: 0 19px;
}

.modal__container {
  position: relative;
  margin: auto;
  padding: 36px;
  width: 430px;
  height: 330px;
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px rgba(0, 0, 0, 0.15);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.modal__close {
  background: transparent url(../images/close-icon.svg) center no-repeat;
  background-size: contain;
  border: none;
  width: 40px;
  height: 40px;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.modal__heading {
  color: #000;
  font-size: 24px;
  font-weight: 900;
  line-height: 1.2;
  width: 330px;
  height: 23px;
  margin: 0;
  padding: 0;
}

.modal__form {
  /* display: block; */
  /* margin-top: 54px; */
  /* width: 358px; */
  padding: 0;
}

.modal__button {
  background-color: #000;
  width: 358px;
  height: 50px;
  margin: 0 auto;
  padding: 0;
  border-radius: 2px;
  border: none;
  color: #fff;
  text-align: center;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2;
}

@media screen and (max-width: 630px) {
  .modal__container {
    width: 282px;
    height: 322px;
    padding: 25px 22px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 14px);
    left: calc(90%);
  }

  .modal__heading {
    font-size: 18px;
  }
  .modal__button {
    width: 238px;
    height: 46px;
    font-size: 14px;
    line-height: 1.2;
  }
}
