@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);
/* @import url(../blocks/page.css);
@import url(../blocks/header.css);
@import url(../blocks/content.css);
@import url(../blocks/profile.css);
@import url(../blocks/cards.css);
@import url(../blocks/card.css);
@import url(../blocks/footer.css); */

.page {
 /* min-width: 320px;
  max-width: 1280px;
  /*margin: 0 auto;
  /*font-family: "Inter", Arial, sans-serif;
  font-style: normal;
  */
   background-color: #000;
   color: #fff;
}

.page__content {
  margin-left: 200px;
  margin-right: 200px;
}

.header {
  margin-top: 45px;
  max-width: 880px;
  display: flex;
  flex-direction: column;
  grid-gap: 33px;
}

.header__logo {
  width: 173px;
}

.header__divider {
  flex-grow: 1;
  border-bottom: 1px solid #545454;
  margin: 0;
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__info {
  display: grid;
  grid-template-areas:
  "title button"
  "description description";
  grid-template-columns: minmax(auto, 373px) auto;
  margin: 0;
  row-gap: 7px;
  column-gap: 18px;
}

.profile__edit-button {
  background: transparent url(../images/edit-icon.svg) center no-repeat;
  height: 24px;
  width: 24px;
}

.profile__add-button {
  background: transparent url(../images/add-icon.svg) center no-repeat;
  width: 150px;
  height: 50px;
}

.profile__title {
  margin: 0;
}

.profile__subtitle {
  margin: 0;
}
/*
.cards {
  grid-gap: 20px 17px;}

.card {
}
.footer {}

.footer__copyright {}